<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windsoft.my.shop.web.admin.dao.TbContentDao">

    <sql id="tbContentColumns">
        tb.id,
        tb.category_id AS categoryId,
        tb.title,
        tb.sub_title AS subTitle,
        tb.title_desc AS titleDesc,
        tb.url,
        tb.pic,
        tb.pic2,
        tb.content,
        tb.created,
        tb.updated,
        b.id AS "tbcontentCategory.id",
        b.name AS "tbcontentCategory.name"
    </sql>

    <sql id="tbContentJoins">
        LEFT JOIN tb_content_category AS b ON tb.category_id = b.id
    </sql>

    <select id="selectAll" resultType="TbContent">
        SELECT
        <include refid="tbContentColumns"/>
        FROM
        tb_content AS tb
    </select>
    
    <insert id="insert">
        INSERT INTO tb_content (
         `category_id`,
         `title`,
         `sub_title`,
         `title_desc`,
         `url`,
         `pic`,
         `pic2`,
         `content`,
         `created`,
         `updated`
         )
         VALUES (
         #{tbContentCategory.id},
         #{title},
         #{subTitle},
         #{titleDesc},
         #{url},
         #{pic},
         #{pic2},
         #{content},
         #{created},
         #{updated}
         )
    </insert>

    <update id="update">
        UPDATE
            tb_content
        SET
         `category_id` = #{tbContentCategory.id},
         `title` = #{title},
         `sub_title` = #{subTitle},
         `title_desc` = #{titleDesc},
         `url` = #{url},
         `pic` = #{pic},
         `pic2` = #{pic2},
         `content` = #{content},
         `created` = #{created},
         `updated` = #{updated}
        WHERE id = #{id}
    </update>

    <delete id="deleteMulti">
        DELETE FROM tb_content
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>


<!--    必须修改resultType属性为返回的类值-->
    <select id="page" resultType="TbContent" parameterType="java.util.Map">
        SELECT
        <include refid="tbContentColumns"/>
        FROM
        tb_content AS tb
        <include refid="tbContentJoins"/>
        <where>
            <if test="tbContent.title != null and tbContent.title !='' ">
                AND tb.title LIKE CONCAT ('%',#{tbContent.title},'%')
            </if>
        </where>
        LIMIT #{start}, #{length}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from tb_content AS tb
        <where>
            <if test="title != null and title !='' ">
                AND tb.title LIKE CONCAT ('%',#{title},'%')
            </if>
        </where>
    </select>

    <select id="getById" resultType="TbContent">
        SELECT
        <include refid="tbContentColumns"/>
        FROM
        tb_content AS tb
        <include refid="tbContentJoins"/>
        WHERE
        tb.id = #{id}
    </select>

</mapper>